// Colors
$primary-accent-color: #0ac8ce;
$primary-accent-hover-color: #00b9bc;
$background-color: #06beb6;
$background-gradient-color-1: #48b1bf;
$background-gradient-color-2: #06beb6;
$border-color: #eeeeee;
$button-font-color: #aaaaaa;
$icon-color: #dddddd;
$confirmed-color: #02db10;
$delete-color: #ea0000;

// Fonts
$primary-font-family: 'Lato', sans-serif;
$icon-font-family: 'FontAwesome';