/******************* Buttons *******************/
.buttons {
  margin: 20px auto 5px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width:500px) {
      flex-direction: row;
          button {
            display: inline-block;
            width: 130px;
            margin-bottom: 0;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
      }
  }
}
.btn {
  font-family: $primary-font-family;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid $border-color;
  border-radius: 3px;
  color: $button-font-color;
  background: #fff;
  padding: 10px 8px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}
.active,
.btn:hover,
.btn:focus,
.btn:active {
  background: $primary-accent-color;
  border: 2px solid $primary-accent-color;
  color: #fff;
}