/******************* Form *******************/
form {
  border: 2px solid $border-color;
  border-radius: 3px;
  input {
      border: none;
      padding: 12px 10px;
      font-family: $primary-font-family;
      width: 100%;
  }
  button {
      background: $primary-accent-color;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: 900;
      padding: 8px 8px;
      font-family: $primary-font-family;
      transition: background 0.5s;
      border-radius: 3px;
      display: block;
      width: 100%;
      &:hover {
          background: $primary-accent-hover-color;
      }
  }
  @media screen and (min-width:500px) {
      padding-right: 3px;
      input {
        width: 70%;
      }
      button {
        display: inline-block;
        width: auto;
      }
  }
}
 